{% extends 'MGMemoryGameBundle::layout.html.twig' %}

{% block title %}
    MemoryGame - Accueil -
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
	<div class="main-content">
		
	</div>
{% endblock %}