{% extends 'MGMemoryGameBundle::layout.html.twig' %}

{% block title %}
    MemoryGame - Accueil -
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
	<div>
		TEST CONTENT
	</div>
{% endblock %}